<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Solicitud y Lista de Vacaciones</title>
  <!-- Enlace al archivo CSS de Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h2>Solicitud de Vacaciones</h2>
        <br>
        <form [formGroup]="formSolicitud" (ngSubmit)="createSolicitud()">
          <div class="form-row mb-4">
            <div class="form-group col-md-4">
              <label for="fechaInicio">id empleado:</label>
              <input type="number" class="form-control" id="fechaInicio" formControlName="idEmpleado" required>
            </div>
            <div class="form-group col-md-4"></div>
            <div class="form-group col-md-4"></div>
            <div class="form-group col-md-4">
              <label for="fechaInicio">Fecha de Inicio:</label>
              <input type="date" class="form-control" id="fechaInicio" formControlName="fechaInicio" required>
            </div>
            <div class="form-group col-md-4">
              <label for="fechaFin">Fecha de Fin:</label>
              <input type="date" class="form-control" id="fechaFin" formControlName="fechaFin" required>
            </div>
          </div>
          <div class="form-row mb-4">
            <div class="form-group col-md-4">
              <label for="observaciones">Observaciones:</label>
              <textarea class="form-control" id="observaciones" formControlName="observaciones" rows="3"></textarea>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Enviar Solicitud</button>
          <br>
        </form>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Lista de Solicitudes de Vacaciones</h2>
        <form [formGroup]="formBusquedaSolicitud" (ngSubmit)="getSolicitudesByEmpleado()">
          <div class="form-group col-md-3 ml-5">
            <label for="documento-buscar">Id del empleado:</label>
            <input type="text" class="form-control" id="documento-buscar" formControlName="idEmpleado" required>
          </div>
          <div class="form-group col-md-3">
            <label class="m-4"></label>
            <button type="submit" class="btn btn-primary">Buscar Empleado</button>
          </div>
        </form>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Usuario</th>
              <th>Días Solicitados</th>
              <th>Fecha de Inicio</th>
              <th>Fecha de Fin</th>
              <th>Estado</th>
              <th>Observaciones</th>
              <th>Fecha de Creación</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let solicitud of solicitudesVacaciones">
              <td>{{ solicitud.id }}</td>
              <td>{{ solicitud.usuario }}</td>
              <td>{{ solicitud.diasSolicitados }}</td>
              <td>{{ solicitud.fechaInicio }}</td>
              <td>{{ solicitud.fechaFin }}</td>
              <td>{{ solicitud.estado }}</td>
              <td>{{ solicitud.observaciones }}</td>
              <td>{{ solicitud.fechaCreacion }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Enlace al archivo JavaScript de Bootstrap opcional (si lo necesitas) -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>